name: Gradle Build and PMD Analysis

on:
  push:
    branches-ignore:
      - 'main'
  workflow_dispatch:

jobs:
  pmd:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: PMD Analysis
        id: pmd_analysis
        uses: pmd/pmd-github-action@v2
        with:
          rulesets: './ruleset.xml'
          analyzeModifiedFilesOnly: false

      - name: Print PMD Violations
        run: |
          echo "Number of PMD violations - ${{ steps.pmd_analysis.outputs.violations }}"
          echo "View Sarif File on: https://microsoft.github.io/sarif-web-component/"

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "8.13"

      - name: Build with Gradle Wrapper
        run: ./gradlew build --daemon --parallel